<ng-container *ngIf="loading">
    <div class="container py-5">
        <app-custom-skelton center="mx-auto" width="110px" height="20px"></app-custom-skelton>
        <div class="mt-4">
            <app-custom-skelton center="mx-auto" width="70%" height="30px"></app-custom-skelton>
        </div>
        <div class="row mt-5">
            <div *ngFor="let _ of [1,2,3,4,5,6]" class="col-lg-4 col-md-6 mb-4">
                <app-custom-skelton width="100%" height="350px"></app-custom-skelton>
            </div>
        </div>
    </div>
</ng-container>

<section *ngIf="projects &&!loading">
    <div class="container py-5">
        <div class="text-center">
            <div class="slug">
                {{"home.our-works"|translate}}
            </div>
            <div class="slug-title">
                {{"home.our-works-title"|translate}}
            </div>
        </div>
        <div class="row mt-5">
            <div *ngFor="let project of projects.items" class="col-lg-4 col-md-6 mb-4">
                <div routerLink="/portfolio" class="project-card-wrapper">
                    <div class="project-card">
                        <div [class]="('dir'|translate)=='rtl'?'justify-content-end':'justify-content-start'" class="card-front d-flex gap-3 align-items-end p-4"
                            [style.background-image]="'url(' + project.image_path + ')'">
                            <span>{{project.title}}</span>
                        </div>
                        <div routerLink="/portfolio" class="project-details">
                            {{'home.project-details'|translate}}
                            <i [class]="(('dir'|translate) == 'ltr')?'ms-2 fa-arrow-right-long':'me-2 fa-arrow-left-long'"
                                class="fa-solid"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>