.project-card-wrapper {
  perspective: 1000px;
  .project-card {
    position: relative;
    width: 100%;
    height: 350px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 10px;
    &:hover {
      transform: rotateY(180deg);
    }
    span {
      z-index: 3;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 2;
      border-radius: inherit;
    }
    .card-front,
    .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: inherit;
    }
    .card-front {
      background: center center/cover no-repeat;
      color: #fff;
      font-size: 23px;
    }
    .card-back {
      background-color: var(--secondary-color);
      color: #fff;
      transform: rotateY(180deg);
    }
  }
}
