.project-card-wrapper {
  .project-card {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    span {
      z-index: 3;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 2;
      border-radius: inherit;
    }
    .card-front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: inherit;
    }
    .card-front {
      background: center center/cover no-repeat;
      color: #fff;
      font-size: 23px;
    }
  }
}
