<section>
    <app-cover backgroundImage="assets/imgs/about.jpg" [title]="'navbar.about-us'|translate"></app-cover>
    <app-intro-section slug="ماذا تعرف عنا" title="الرواسي للمقاولات" image="assets/imgs/building6.jpg" [button]="false"
        description="هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف"></app-intro-section>
    <app-why-choose-us-section></app-why-choose-us-section>
    <app-why-qemmet-alrawasi-section></app-why-qemmet-alrawasi-section>
</section>