<section>
    <app-cover backgroundImage="assets/imgs/about-us.jpg" [title]="'navbar.about-us'|translate"></app-cover>
    <app-intro-section [loading]="loading"
        [about_us_section]="aboutUsPage ? aboutUsPage.more_about_us_section : null"></app-intro-section>
    <app-why-choose-us-section [loading]="loading"
        [whyUs]="aboutUsPage ? aboutUsPage.why_choose_us_section: null"></app-why-choose-us-section>
    <app-why-qemmet-alrawasi-section [loading]="loading"
        [whyUs]="aboutUsPage ? aboutUsPage.why_company_section: null"></app-why-qemmet-alrawasi-section>
</section>