.testmonial-container {
  clip-path: polygon(
    100px 0,
    100% 0,
    100% calc(100% - 100px),
    calc(100% - 100px) 100%,
    0 100%,
    0 100px
  );
  background-image: url(../../../../../assets/imgs/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .content {
    color: white;
    p {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    i {
      font-size: 55px;
    }
  }
}
::ng-deep .testmonial-section-carousel .p-ripple {
  position: absolute;
  color: white;
  background-color: transparent;
  &:hover {
    background-color: unset;
    opacity: 0.6;
  }
  top: 70%;
  z-index: 1;
}

:host-context([dir="rtl"]) {
  ::ng-deep .testmonial-section-carousel .p-carousel-prev {
    right: 90%;
  }

  ::ng-deep .testmonial-section-carousel .p-carousel-next {
    left: 10%;
  }
}

:host-context([dir="ltr"]) {
  ::ng-deep .testmonial-section-carousel .p-carousel-prev {
    right: 10%;
  }

  ::ng-deep .testmonial-section-carousel .p-carousel-next {
    left: 90%;
  }
}
@media screen and (max-width: 767px) {
  .testmonial-container {
    clip-path: polygon(
      0px 0,
      100% 0,
      100% calc(100% - 0px),
      calc(100% - 100px) 100%,
      0 100%,
      0 100px
    );
    .content {
      p {
        font-size: 14px;
      }
      h5 {
        font-size: 14px;
      }
      h6 {
        font-size: 10px;
      }
      i {
        font-size: 30px;
      }
    }
  }
  ::ng-deep .testmonial-section-carousel .p-ripple {
    display: none;
  }
}
