<app-custom-skelton *ngIf="loading" width="100%" height="740px"></app-custom-skelton>
<section *ngIf="!loading" [ngStyle]="{'background-image': 'url('+whyUs?.background+')'}" class="d-flex align-items-center py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 mb-4">
                <img [src]="whyUs?.image" width="100%" [alt]="whyUs?.title">
            </div>
            <div class="col-lg-6 mb-4">
                <div class="content text-white">
                    <h2 [class]="(('dir'|translate) == 'ltr')? 'text-lg-start': 'text-lg-end'" class="text-center">
                        {{whyUs?.title}}</h2>
                        <p class="my-5">{{whyUs?.description}}</p>
                    <app-custom-btn routerLink="/contact-us" [btnName]="'navbar.contact-us'|translate"></app-custom-btn>
                </div>
            </div>
        </div>
    </div>
</section>