<label class="form-label">{{label}}</label>
<ng-container [ngSwitch]="isInput">
    <input *ngSwitchCase="true" [type]="type" class="form-control" [required]="isRequired" [disabled]="disabled"
        [value]="value" (input)="onChange($any($event.target).value)" (blur)="onTouched()"
        [placeholder]="('contact-us.enter'|translate) + ' ' + label">

    <textarea *ngSwitchCase="false" rows="10" class="form-control" [required]="isRequired" [disabled]="disabled"
        [value]="value" (input)="onChange($any($event.target).value)" (blur)="onTouched()"
        [placeholder]="('contact-us.enter'|translate) + ' ' + label"></textarea>
</ng-container>