<section class="container">
    <div class="about-us-container py-lg-0 py-5">
        <div class="row">
            <div class="col-lg-7 mb-lg-0 mb-4 p-5 d-flex align-items-center">
                <div>
                    <div class="slug">{{slug}}</div>
                    <div class="slug-title mb-5">{{title}}</div>
                    <p class="col col-lg-11 mb-4">{{description}}</p>
                    <app-custom-btn *ngIf="button" btnName="آعرف اكثر"></app-custom-btn>
                </div>
            </div>
            <div class="col-lg-5 mb-lg-0 mb-4">
                <img [src]="image" width="100%" [alt]="slug">
            </div>
        </div>
    </div>
</section>