<p-toast [breakpoints]="{'600px': {width: '100%', right: '0', left: '0'}}" dir="ltr"></p-toast>
<section class="container pb-5">
    <div class="row">
        <div class="col-lg-8 mb-lg-0 mb-4">
            <div class="bg-white h-100 form-box">
                <div class="slug">{{'navbar.contact-us'|translate}}</div>
                <div class="slug-title">{{'contact-us.form-title'|translate}}</div>
                <form [formGroup]="contactForm" class="mt-5">
                    <div class="row">
                        <app-custom-input *ngFor="let form of formList" [class]="form.isInput? 'col-md-6' : 'col-md-12'"
                            class="mb-4" [isInput]="form.isInput" [isRequired]="form.requierd"
                            [label]="form.label|translate" [type]="form.type"
                            [formControlName]="form.formControlName"></app-custom-input>
                        <app-custom-btn (click)="submit(contactForm)" [btnName]="'contact-us.send'|translate"
                            [loading]="loading"></app-custom-btn>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 mb-lg-0 mb-4">
            <div *ngIf="settings" class="h-100 info">
                <h3 class="mb-4">{{'contact-us.main-branch'|translate}}</h3>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'"
                        class="fa-solid fa-location-dot"></i>{{settings.main_branch.address}}</p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'"
                        class="fa-solid fa-envelope-open-text"></i>{{settings.main_branch.email}}</p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-phone-volume"></i>
                    <span dir="ltr">{{settings.main_branch.mobile}}</span>
                </p>
                <ng-container *ngIf="settings.second_branch.address">
                    <h3 class="mt-5 mb-4">{{'contact-us.other-branches'|translate}}</h3>
                    <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'"
                            class="fa-solid fa-location-dot"></i>{{settings.second_branch.address}}</p>
                    <p *ngIf="settings.second_branch.email"><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'"
                            class="fa-solid fa-envelope-open-text"></i>{{settings.second_branch.email}}</p>
                    <p *ngIf="settings.second_branch.mobile"><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'"
                            class="fa-solid fa-phone-volume"></i>
                        <span dir="ltr">{{settings.second_branch.mobile}}</span>
                    </p>
                </ng-container>

                <div *ngIf="settings?.careers_pdf || settings?.profile_pdf"
                    class="d-flex align-items-center gap-3 flex-wrap mt-5">
                    <a *ngIf="settings?.profile_pdf" target="_blank" [href]="settings.profile_pdf"><button
                            class="profile-btn">{{'contact-us.profile'|translate}}</button></a>
                    <a *ngIf="settings?.careers_pdf" target="_blank" [href]="settings.careers_pdf"><button
                            class="careers-btn">{{'contact-us.careers'|translate}}</button></a>
                </div>

                <div *ngIf="settings" class="join-us mt-5">
                    <h3 class="mb-4">{{'contact-us.join'|translate}}</h3>
                    <div class="d-flex align-items-center gap-4 justify-content-between flex-wrap">
                        <a *ngIf="settings?.supplier_join_url" [href]="settings.supplier_join_url"
                            target="_blank"><app-custom-btn
                                btnName="{{'contact-us.supplier-join'|translate}}"></app-custom-btn></a>
                        <div *ngIf="settings" class="d-flex gap-4 social-media">
                            <a *ngIf="settings.facebook" [href]="settings.facebook" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a *ngIf="settings.instagram" [href]="settings.instagram" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a *ngIf="settings.twitter" [href]="settings.twitter" target="_blank"><i
                                    class="fa-brands fa-x-twitter"></i></a>
                            <a *ngIf="settings.tiktok" [href]="settings.tiktok" target="_blank"><i
                                    class="fa-brands fa-tiktok"></i></a>
                            <a *ngIf="settings.linkedin" [href]="settings.linkedin" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a *ngIf="settings.snapchat" [href]="settings.snapchat" target="_blank"><i
                                    class="fa-brands fa-snapchat"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>