<section class="container pb-5">
    <div class="row">
        <div class="col-lg-8 mb-lg-0 mb-4">
            <div class="bg-white h-100 form-box">
                <div class="slug">{{'navbar.contact-us'|translate}}</div>
                <div class="slug-title">{{'contact-us.form-title'|translate}}</div>
                <form class="mt-5">
                    <div class="row">
                        <app-custom-input *ngFor="let form of formList" [class]="form.isInput? 'col-md-6' : 'col-md-12'"
                            class="mb-4" [isInput]="form.isInput" [isRequired]="form.requierd"
                            [label]="form.label|translate" [type]="form.type"></app-custom-input>
                        <app-custom-btn [btnName]="'contact-us.send'|translate"></app-custom-btn>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="h-100 info">
                <h3 class="mb-4">{{'contact-us.main-branch'|translate}}</h3>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-location-dot"></i>
                    السعودية - مكة</p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-envelope-open-text"></i>
                    qemmetalrawasi&#64;gmail.com</p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-phone-volume"></i>
                    <span dir="ltr">+966999999999</span>
                </p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-envelope-open-text"></i>
                    www.qemmetalrawasi.co</p>
                <h3 class="mt-5 mb-4">{{'contact-us.other-branches'|translate}}</h3>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-location-dot"></i>
                    جدة والطائف والرياض والمدينة</p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-envelope-open-text"></i>
                    qemmetalrawasi&#64;gmail.com</p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-phone-volume"></i>
                    <span dir="ltr">+966999999999</span>
                </p>
                <p><i [class]="('dir'|translate)=='rtl'?'ms-2':'me-2'" class="fa-solid fa-envelope-open-text"></i>
                    www.qemmetalrawasi.co</p>
                <div class="d-flex gap-4 social-media mt-5">
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>