<section>
    <div class="container py-5">
        <div class="text-center mb-5">
            <div class="slug">{{"navbar.services"|translate}}</div>
            <div class="slug-title">{{"home.services-title"|translate}}</div>
        </div>
        <p-carousel class="service-section-carousel" dir="ltr" [value]="services"
            [responsiveOptions]="responsiveOptions" [numVisible]="4" [numScroll]="1" [showIndicators]="false"
            [circular]="true">
            <ng-template let-service pTemplate="item">
                <div class="p-3">
                    <div [ngStyle]="service.hoverStyle" (mouseenter)="onHover(service)" (mouseleave)="onLeave(service)" [dir]="'dir'|translate" class="services-box">
                        <div class="d-flex flex-column gap-5 mb-3">
                            <img [src]="service.icon" width="100px" draggable="false" [alt]="service.title">
                            <h5>{{service.title}}</h5>
                        </div>
                        <span>تواصل معنا<i class="fa-solid fa-arrow-right-long me-1"></i></span>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</section>