section {
  background-color: #0000000f;
  padding-block: 50px;
  .services-box {
    clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
    background-color: #fff;
    padding: 50px 20px;
    min-height: 285px;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    position: relative;
    img {
      transition: all 300ms;
    }
    &:hover {
      background: center center/cover no-repeat;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
      h5 {
        color: #fff;
        transform: translateY(-30px);
      }
      img {
        transform: translateY(-250%);
      }
      span {
        transform: translateY(-30px);
        color: #fff;
      }
    }
    h5 {
      transition: all 300ms;
      font-size: 22px;
      color: var(--primary-color);
      position: relative;
      z-index: 2;
    }
    span {
      position: relative;
      z-index: 2;
      font-size: 14px;
      transform: translateY(50vw);
      display: block;
      transition: all 300ms;
    }
  }
}
::ng-deep .service-section-carousel .p-ripple {
  color: var(--secondary-color);
}
.skelton-box {
  clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px);
}
