<app-hero-section></app-hero-section>
<app-intro-section [slug]="'navbar.about-us'|translate"
    title="شركة قمة الرواسي للمقاولات العامة هي إحدى الشركات الرائدة في مجال المقاولات العامة"
    description="هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف"
    image="assets/imgs/building9.jpg"></app-intro-section>
<app-why-us-section></app-why-us-section>
<app-book-consultation-section></app-book-consultation-section>
<app-services-section></app-services-section>
<app-goals-section></app-goals-section>
<app-our-projects-section></app-our-projects-section>
<app-testmonial-section></app-testmonial-section>
<app-request-consultation-section></app-request-consultation-section>
<app-swiper></app-swiper>
<app-scroll-to-top-btn></app-scroll-to-top-btn>