section{
    header{
        .slug{
            font-size: 14px;
        }
        .slug-title{
            font-size: 50px;
        }
        p{
            font-size: 18px;
            line-height: 30px;
        }
    }
}