.about-us-container {
  background-color: white;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
  transform: translateY(-80px);
  p {
    font-size: 18px;
  }
  img{
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .about-us-container {
    transform: translateY(-40px);
    p {
      font-size: 16px;
    }
    img {
      min-height: 300px;
    }
  }
}
