<section class="container">
    <div class="about-us-container py-lg-0 py-5">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7 mb-4 px-5">
                <div class="slug">
                    {{'navbar.about-us' | translate}}
                </div>
                <div class="slug-title mb-5">
                    شركة "نواهل" للمقاولات العامة هي إحدى الشركات الرائدة في مجال المقاولات العامة
                </div>
                <p class="col col-lg-11 mb-4">شركة “نواهل” للمقاولات العامة هي إحدى الشركات الرائدة في مجال المقاولات العامة.
                    نحن متخصصون في تنفيذ
                    وإدارة مشاريع البناء والتشييد في مختلف القطاعات، بما في ذلك القطاعات التجارية والسكنية والصناعية.
                    نحن ملتزمون بتقديم خدمات عالية الجودة وتحقيق رضا العملاء من خلال الابتكار والمهنية.</p>
                <app-custom-btn btnName="آعرف اكثر"></app-custom-btn>
            </div>
            <div class="col-lg-5 mb-4">
                <img src="assets/imgs/about-us-section.jpg" width="100%" alt="about-us-section">
            </div>
        </div>
    </div>
</section>