<section class="container">
    <div class="about-us-container py-lg-0 py-5">
        <div class="row">
            <div class="col-lg-7 mb-4 p-5 d-flex align-items-center">
                <div>
                    <div class="slug">
                        {{'navbar.about-us' | translate}}
                    </div>
                    <div class="slug-title mb-5">
                        شركة قمة الرواسي للمقاولات العامة هي إحدى الشركات الرائدة في مجال المقاولات العامة
                    </div>
                    <p class="col col-lg-11 mb-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف</p>
                    <app-custom-btn btnName="آعرف اكثر"></app-custom-btn>
                </div>
            </div>
            <div class="col-lg-5 mb-4">
                <img src="assets/imgs/building10.jpg" width="100%" alt="about-us-section">
            </div>
        </div>
    </div>
</section>