<section *ngIf="goals_section">
    <p-carousel dir="ltr" [value]="goals_section" [numVisible]="1" [numScroll]="1" [circular]="true"
        [showNavigators]="false" [page]="activeIndex" (onPageChange)="onPageChange($event)" [showIndicators]="false">
        <ng-template let-slide pTemplate="item">
            <div class="carousel-slide" [style.background-image]="'url(' + slide.background + ')'"></div>
        </ng-template>
    </p-carousel>
    <div class="custom-indicators">
        <div *ngFor="let slide of goals_section; let i = index" (click)="activeIndex = i"
            [class.active]="i === activeIndex">
            <span class="index">
                0{{i + 1}}
            </span>
            <br>
            <span class="title">
                {{ slide.title }}
            </span>
            <br><br>
            <span class="content d-none d-lg-block">
                {{ slide.description }}
            </span>
        </div>
    </div>
</section>