section {
  position: relative;
}

.custom-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
}

.custom-indicators div {
  background-color: rgba(63, 0, 72, 0.7);
  padding: 50px;
  cursor: pointer;
  width: 33.33%;
  color: #fff;
  height: auto;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.custom-indicators div.active {
  background-color: rgba(63, 0, 72, 1);
  height: auto;
}
section {
  position: relative;
}

.custom-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
}

.custom-indicators div {
  background-color: rgba(63, 0, 72, 0.7);
  padding: 50px;
  cursor: pointer;
  width: 33.33%;
  color: #fff;
  height: auto;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.custom-indicators div.active {
  background-color: rgba(63, 0, 72, 1);
  height: auto;
}

.custom-indicators div .content {
  transform: translateY(200%);
  opacity: 0;
  height: 0;
  display: block;
  font-size: 18px;
  transition: all 300ms ease-in-out;
}

.custom-indicators div.active .content {
  transform: translateY(0);
  opacity: 1;
  height: auto;
}
.custom-indicators div.active .index {
  color: var(--secondary-color);
}

.custom-indicators div .content {
  transform: translateY(200%);
  opacity: 0;
  height: 0;
  display: block;
  font-size: 18px;
  transition: all 300ms ease-in-out;
}

.custom-indicators div.active .content {
  transform: translateY(0);
  opacity: 1;
  height: auto;
}

.custom-indicators div .index {
  font-size: 120px;
  -webkit-text-stroke-color: var(--secondary-color);
  -webkit-text-stroke-width: 1px;
  color: transparent;
  transition: all 300ms ease-in-out;
}

.custom-indicators div .title {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .custom-indicators div {
    padding: 10px;
  }

  .custom-indicators div .index {
    font-size: 30px;
  }

  .carousel-slide {
    height: 400px;
  }
}

.carousel-slide {
  background: center center/cover no-repeat;
  height: 700px;
}
