<footer class=" text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="mb-4">قمة الرواسي للمقاولات</h4>
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث
                    يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها
                    التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="mb-4">روابط سريعة</h4>
                <ul class="p-0">
                    <li>{{'navbar.about-us'|translate}}</li>
                    <li>{{'navbar.portfolio'|translate}}</li>
                    <li>{{'navbar.services'|translate}}</li>
                    <li>{{'navbar.contact-us'|translate}}</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="mb-4">{{'navbar.services'|translate}}</h4>
                <ul class="p-0">
                    <li>بناء المباني السكنية والتجارية</li>
                    <li>إنشاء البنية التحتية</li>
                    <li>تطوير المشاريع العقارية</li>
                    <li>تجديد وترميم المباني</li>
                    <li>إنشاء المنشآت الصناعية</li>
                    <li>إدارة المشاريع</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h4 class="mb-4">{{'navbar.contact-us'|translate}}</h4>
                <ul class="p-0">
                    <li dir="ltr" class="whatsapp">+966999999999</li>
                    <li class="email">qemmetalrawasi&#64;gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-rights d-flex justify-content-around text-white align-items-center flex-wrap">
        <p class="mb-3">جميع الحقوق محفوظة شركة قمة الرواسي للمقاولات ٢٠٢٤ </p>
        <div class="d-flex gap-4 align-items-center mb-3">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>