<section class="d-flex align-items-center pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 d-flex align-items-center">
                <div>
                    <div class="slug">نبحث عن فرص التحسين والابتكار</div>
                    <h2>نضع العملاء في صميم أولوياتنا</h2>
                </div>
            </div>
            <div class="col-lg-4 mb-4 d-flex justify-content-end">
                <div class="consultation-box-container">
                    <div class="consultation-box text-center w-100">
                        <h3 class="mb-5">احجز استشارتك الان</h3>
                        <app-custom-btn [btnName]="'navbar.contact-us'|translate"></app-custom-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>