<section class="container">
    <div class="row g-0">
        <div class="col-lg-6">
            <div class="content px-md-5 px-4 d-flex align-items-center">
                <div>
                    <div class="slug">
                        ماذا تعرف عنا
                    </div>
                    <div class="slug-title mb-4">
                        الرواسي للمقاولات
                    </div>
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،
                        حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها
                        التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الف</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="assets/imgs/building9.jpg" width="100%" alt="about-us-img">
        </div>
    </div>
</section>