<section *ngIf="whyUsSection" class="mb-4">
    <div class="container text-center">
        <header>
            <div class="slug">
                {{whyUsSection.slug}}
            </div>
            <div class="slug-title">
                {{whyUsSection.title}}
            </div>
        </header>
        <div class="row align-items-center mt-5">
            <div class="col-lg-4 mb-4">
                <div class="why-us-box mb-4" *ngFor="let item of whyUsSection.items.slice(0,2)">
                    <img [src]="item.icon" width="50" [alt]="item.title">
                    <h2 class="my-4">{{item.title}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <img [src]="whyUsSection.image" width="100%" alt="logo">
            </div>
            <div class="col-lg-4 mb-4">
                <div class="why-us-box mb-4" *ngFor="let item of whyUsSection.items.slice(2,4)">
                    <img [src]="item.icon" width="50" [alt]="item.title">
                    <h2 class="my-4">{{item.title}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>