<section *ngIf="whyUsSection" class="mb-4">
    <ng-container *ngIf="loading">
        <div class="container">
            <div class="loading">
                <app-custom-skelton center="mx-auto" width="110px" height="20px"></app-custom-skelton>
                <div class="mt-4">
                    <app-custom-skelton center="mx-auto" width="50%" height="30px"></app-custom-skelton>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-lg-4 mb-4" *ngFor="let i of [1,2,3]">
                        <app-custom-skelton width="100%" height="288px"></app-custom-skelton>
                        <div class="mt-4" *ngIf="i !== 2">
                            <app-custom-skelton width="100%" height="288px"></app-custom-skelton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!loading" class="container text-center">
        <header>
            <div class="slug">
                {{whyUsSection.slug}}
            </div>
            <div class="slug-title">
                {{whyUsSection.title}}
            </div>
        </header>
        <div class="row align-items-center mt-5">
            <div class="col-lg-4 mb-4">
                <div class="why-us-box mb-4" *ngFor="let item of whyUsSection.items.slice(0,2)">
                    <img [src]="item.icon" width="50" [alt]="item.title">
                    <h2 class="my-4">{{item.title}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <img [src]="whyUsSection.image" width="100%" alt="logo">
            </div>
            <div class="col-lg-4 mb-4">
                <div class="why-us-box mb-4" *ngFor="let item of whyUsSection.items.slice(2,4)">
                    <img [src]="item.icon" width="50" [alt]="item.title">
                    <h2 class="my-4">{{item.title}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>