@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --primary-color: #29175d !important;
  --secondary-color: #5772e8;
  --third-color: #3f0048;
  --forth-color: #a80760;
}

[dir="rtl"] *:not(i){
  font-family: "Cairo", sans-serif !important;
}

[dir="ltr"] *{
  font-family: "Barlow Condensed", sans-serif;
}

.slug {
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary-color);
  letter-spacing: 0.25em;
  margin-bottom: 25px;
  text-transform: uppercase;
  &::before {
    content: "";
    border: 5px solid var(--forth-color);
    border-top-color: transparent;
    border-left-color: transparent;
    display: inline-block;
  }
}
.slug-title {
  font-size: 30px;
  color: var(--primary-color);
}