<section class="my-5">
    <div class="container">
        <div class="text-center">
            <div class="slug pb-5">
                {{'home.success-partners' | translate}}
            </div>
            <ng-container *ngIf="!swipers">
                <div class="row">
                    <swiper-container dir="ltr" [pagination]="false" [navigation]="false" [loop]="true"
                        [breakpoints]="breakpoints">
                        <swiper-slide *ngFor="let _ of [1,2,3,4]">
                            <app-custom-skelton width="100%" height="100px"></app-custom-skelton>
                        </swiper-slide>
                    </swiper-container>
                </div>
            </ng-container>
            <swiper-container dir="ltr" [pagination]="false" [navigation]="false" [loop]="true"
                [autoplay]="{delay: 1000}" [breakpoints]="breakpoints">
                <swiper-slide *ngFor="let swiper of swipers">
                    <img [src]="swiper.image" width="170" height="170" alt="swiper">
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>