<p-carousel class="hero-section-carousel" dir="ltr" [value]="carouselSection" [numVisible]="1" [numScroll]="1" [autoplayInterval]="5000"
    [showIndicators]="false" [circular]="true">
    <ng-template let-carousel pTemplate="item">
        <div class="text-center">
            <div class="carousel-content text-white" style="background-image: url('{{carousel.image}}')">
                <div class="content">
                    <h2 class="mb-5">{{carousel.title}}</h2>
                    <p class="col-lg-6 col-md-9 mx-auto mb-5">{{carousel.description}}</p>
                    <button>تواصل معنا</button>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>